<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Suite">
    <listeners>
        <listener class-name="com.automation.utils.TestListener"/>
    </listeners>
    <test name="Regression Tests">
        <classes>
            <class name="com.automation.tests.LoginTests"/>
            <class name="com.automation.tests.ProductTests"/>
            <class name="com.automation.tests.CheckoutTests"/>
            <class name="com.automation.tests.EndToEndTests"/>
            <class name="com.automation.tests.RegisterTest"/>
        </classes>
    </test>
</suite>
